/* Medicine Category start*/

.section-title{
    text-align: center;
    font-size: 24px;
    margin-top: 80px;
    margin-bottom: 60px;
    color: rgb(21, 136, 136);
}

.medicine-container1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr) !important;
    gap: 18px;
    margin-left: 130px !important;
    margin-right: 50px !important;
}

#category {
   width: 170px;
   height: 170px;
}

.medicine img {
    width: 160px; 
    height: 120px; 
    border-radius: 8px;
    margin: 5px;
}

.medicine-category {
    font-weight: 500;
    font-size: 16px;
    color: #333;
    text-align: center;
    margin: auto;
}


.medicine {
    transition: transform 0.3s ease-in-out;
}

.medicine:hover {
    transform: scale(1.05);
}




/* Medicine Category End*/